spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: email@gmail.com
    password: password # 구글 앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

slack:
  webhook:
    url: "https://hooks.slack.com/services/YOUR/WEBHOOK/URL" # 슬랙 웹훅 URL