# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
server:
  port: 8081
# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
spring:
  application:
    name: worker
  # ===============================================
  # DATABASE (MySQL) CONFIGURATION
  # ===============================================
  datasource:
    url: jdbc:mysql://localhost:3307/settlement_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: armada
    password: armada
    driver-class-name: com.mysql.cj.jdbc.Driver

  # ===============================================
  # JPA & HIBERNATE CONFIGURATION
  # ===============================================
  jpa:
    hibernate:
      # create: 기존 테이블 삭제 후 다시 생성 (테스트용)
      # update: 변경된 부분만 반영 (개발용)
      # none: 아무것도 하지 않음 (운영 환경 추천)
      ddl-auto: none
    # 실행되는 SQL 쿼리를 콘솔에 보여줌
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    open-in-view: false

    # ===============================================
    # mongodb
    # ===============================================
    mongodb:
      uri: mongodb://admin:1111@localhost:27017/settlement_report_db?authSource=admin

  # ===============================================
  # KAFKA
  # ===============================================
  kafka:
    bootstrap-servers: localhost:9092 # Docker에서 실행 중인 Kafka 주소
    consumer:
      group-id: "report-worker-group" # 컨슈머 그룹 ID
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "com.settlement.worker.*"
      auto-offset-reset: earliest # 처음 실행 시 이전 메시지부터 읽기
      max-poll-records: 5

  # ===============================================
  # External API Configuration
  # ===============================================
  google:
    gemini:
      api-key: ${GOOGLE_GEMINI_API_KEY}

  mail:
    host: smtp.gmail.com
    port: 587
    username: email@gmail.com
    password: password # 구글 앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

slack:
  webhook:
    url: "https://hooks.slack.com/services/YOUR/WEBHOOK/URL" # 슬랙 웹훅 URL